*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman" , Times New Roman;
}
html, body {
  width: 100%;
  height: 60%;
  margin: 0;
  padding: 0;
  font-family:"Times New Roman";
  background-image: url(file:///Users/suryachandra/Desktop/ca/home-bg2.jpg);
  }
*{
  padding:0;
  margin:0;
  text-decoration:none;
  list-stylenone;
  box-sizing:border-box;
}
nav{
  background-color: #FFBF00;
  height: 150px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
}
nav ul{
float: right;
padding-right: 380px;
margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}
a.active,a:hover{
  background:orangered;
  transition: .5s;
}
  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity $fade-time ease;
    background-size: relative;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color:orange;
    cursor: pointer;
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.8;
    }
  }
  
}
nav ul li a.active,
nav ul li a:hover
{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: center;
        cursor: pointer;
        text-align: left;
        font-size: 30px;
        color: #069370;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li 
    {
        margin: 0;
        text-align: center;
    }
}
nav a:hover {
  color:white;
}

nav a::before {
  content:'';
  display: block;
  height: 5px;
  background-color: orangered;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
h1{
  text-align: center;
  font-size: 40px;
  font-family:times new roman;
}
.container{
  width: 100%;
  background: #fff;
  border-radius: 6px;
 padding-top: 2%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.emaill{
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
}
label{
    position: relative;
}
input[type="email"]{
    border: none;
    width: 460px;
    height: 50px;
    padding: 0 16px;
}
.btn-1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: teal;
    color: white;
    padding: 0 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
.btn-1:hover{
    transition: .8s;
    background-color: #6c6c6c;
}
.foot{
 height: 350px;
  width: 100%;
  border-radius: 2px;
  top: 0;
  position: sticky;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
  background-image: url(https://i.postimg.cc/wBFdQcbp/70822207112.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 350px;
}
.end{
  width: 100%;
  height: 90px;
  background-color: black;
}
.endlines{
  color: white;
  font-family: Times New Roman;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  align:center;
  border-radius:20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}