body{
  background-color: aliceblue;
}
*{
  padding:0;
  margin:0;
  text-decoration:none;
  list-stylenone;
  box-sizing:border-box;
}
nav{
  background-color: #FFBF00;
  height: 150px;
  width: 100%;
  border-radius: 2px;
  top: 0;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
}
.searchbox{
  padding-top: 30px;
  padding-left: 70px;

}
.search{
  height: 25px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
}
nav ul{
float: right;
padding-right: 70px;
margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}
a.active,a:hover{
  background:orangered;
  transition: .5s;
}
  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity $fade-time ease;
    background-size: relative;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color:orange;
    cursor: pointer;
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.8;
    }
  }
  
}
nav ul li a.active,
nav ul li a:hover
{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: center;
        cursor: pointer;
        text-align: left;
        font-size: 30px;
        color: #069370;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li 
    {
        margin: 0;
        text-align: center;
    }
}
nav a:hover {
  color:white;
}

nav a::before {
  content:'';
  display: block;
  height: 5px;
  background-color: orangered;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
.banner{
  width: 100%;
  height: 10%;
}

.box{
  border: 10px solid yellow;
  margin: 45px;
  height: 1400px;
  width: 1350px;
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,3.2);
}
.box {
  border: 10px solid yellow;
  border-radius: 15px;
}
h1{
  text-shadow: black;
  font-family: times new roman;
  text-decoration-color: blue;
  fo
}
p{
  font-size: 18px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 315px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 315px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card-2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-2 button:hover {
  opacity: 0.7;
}
.card-3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 315px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card-3 button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card-3 button:hover {
  opacity: 0.7;
}
.products{
  float: center;
  display: flex;

}
.loadmore {
 padding: 1.3em 3em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
 text-align: center;
 width: 200px;
 height: 50px;
}

.loadmore:hover {
 background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}

.loadmore:active {
 transform: translateY(-1px);
}

.contain{
  padding-left: 570px;
}
.emaill{
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
}
label{
    position: relative;
}
input[type="email"]{
    border: none;
    width: 460px;
    height: 50px;
    padding: 0 16px;
}
.btn-1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: teal;
    color: white;
    padding: 0 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
.btn-1:hover{
    transition: .8s;
    background-color: #6c6c6c;
}
.foot{
 height: 350px;
  width: 100%;
  border-radius: 2px;
  top: 0;
  position: sticky;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
  background-image: url(https://i.postimg.cc/wBFdQcbp/70822207112.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 350px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
.end{
  width: 100%;
  height: 60px;
  background-color: black;
}
h6{
  color: white;
  font-family: Times New Roman;
}