html, body {
  width: 100%;
  height: 60%;
  margin: 0;
  padding: 0;
  font-family:"Times New Roman";
  background-image: url(file:///Users/suryachandra/Desktop/ca/home-bg2.jpg);
  }
*{
  padding:0;
  margin:0;
  text-decoration:none;
  list-style: none;
  box-sizing:border-box;
}
.loginbtn{
  border-radius: 100px solid red;
}
.inputsize{
  width: 2px;

}
nav{
  background-color: #FFBF00;
  height: 180px;
  width: 100%;
  border-radius: 2px;
  top: 0;
  position: ;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
}
nav ul{
float: right;
padding-right: 0px;
margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
}
a.active,a:hover{
  background:orangered;
  transition: .5s;
}
  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity $fade-time ease;
    background-size: relative;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color:orange;
    cursor: pointer;
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.8;
    }
  }
  
}
nav ul li a.active,
nav ul li a:hover
{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: center;
        cursor: pointer;
        text-align: left;
        font-size: 30px;
        color: #069370;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li 
    {
        margin: 0;
        text-align: center;
    }
}
nav a:hover {
  color:white;
}
nav a::before {
  content:'';
  display: block;
  height: 5px;
  background-color: orangered;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
img {
  max-width: 100%;
}
.slider-container{
  height: 100%;
  width: 100%;
  padding: 5%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
  border-radius: 10px;
  box-shadow: #0000;
}
.btn99 {
 padding: 1.3em 3em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}

.btn99:hover {
 background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}

button:active {
 transform: translateY(-1px);
}
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("https://www.organictattva.com/wp-content/uploads/2020/07/OT-Homepage-Banner-1_280720-1.jpg");
}
.slide-2 {
  background-image: url("https://www.organictattva.com/wp-content/uploads/2020/07/OT-Homepage-Banner-2_280720.jpg");
}
.slide-3 {
  background-image: url("https://www.organictattva.com/wp-content/uploads/2020/07/OT-Homepage-Banner-3_280720.jpg");
}
.box-1 {
  border: 10px solid yellow;
  margin: 45px;
  height: 2600px;
  width: 1350px;
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,3.2);
}
.box-1 p h1{
  border: 10px solid yellow;
  border-radius: 15px;
}.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height:550px;
  width:300px;
  border-radius: 10px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}
.emaill{
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
}
label{
    position: relative;
}
input[type="email"]{
    border: none;
    width: 460px;
    height: 50px;
    padding: 0 16px;
}
.btn-1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: teal;
    color: white;
    padding: 0 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
.btn-1:hover{
    transition: .8s;
    background-color: #6c6c6c;
}
.foot{
 height: 350px;
  width: 100%;
  border-radius: 2px;
  top: 0;
  position: sticky;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
  background-image: url(https://i.postimg.cc/wBFdQcbp/70822207112.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 350px;
}
.loadmore {
 padding: 1.3em 3em 10px;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
 text-align: center;
 width: 200px;
 height: 50px;
}
.loadmore:hover {
 background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}
.loadmore:active {
 transform: translateY(-1px);
}
.contain{
  padding-left: 570px;
  padding-top: 20px;
}
h1{
  font-size: 30px;
  font-family: times new roman;
  color: orangered;
}
#btn{
  border-radius: 10px;

}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
}
#myBtn:hover {
  background-color: #555;
}
#leftbox {
                float:left; 
                background:white;
                width:33%;
                height:280px;
    
                display: grid;
            }
            #middlebox{
                float:left; 
                background:white;
                width:33%;
                height:280px;
                display: grid;
            }
            #rightbox{
                float:right;
                background:white;
                width:33%;
                height:280px;
                display: grid;
            }
 .loginbtn{
  padding-left: 10px;
  padding-right: 10px;
  border-color: skyblue;
  float: right;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
  padding: 10px;
 }  
 .loginbox{
  padding-left: 50px;
    padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
 }       
 .username{
  border-color: skyblue;
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
  padding: 10px;

 }
 .password{
border-color:skyblue;
box-shadow: 0 2px 5px rgba(0,0,0,1.2);
padding: 10px;
 }
.quot{
  height: 15px;
  width: 15px;
  align: center;
  align-items: center ;

}
hr.new{
  border-top: 1px dotted red;
  width: 100%;
}
.bx1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height:200px;
  width:350px;
  border-radius: 10px;
}
.person1{
  border-radius: 50%;
}
.person2{
  border-radius: 50%;
}
.person3{
  border-radius: 50%;
}
.end{
  width: 100%;
  height: 90px;
  background-color: black;
}
.endlines{
  color: white;
  font-family: Times New Roman;
}
